/* Start Global Rules */
* {
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: #0067b2;
}

img::selection {
    color: transparent;
    background-color: transparent;
}

body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    color: white;
    overflow-x: hidden;
}

.en {
    font-family: "Work Sans", sans-serif;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Home Page */
/* Start Background */
.background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    z-index: -100;
}

/* End Background */
/* Start Header */
header {
    background-color: rgb(0 0 0 / 20%);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 60px;
}

header .branches {
    display: flex;
    align-items: center;
    direction: rtl;
}

header .branches li {
    font-size: 20px;
}

header .branches li .link {
    display: block;
    padding: 10px;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .branches li .active {
    display: block;
}

header .branches li a:hover {
    color: #0099f3;
}

@media (max-width: 586px) {
    header .branches li {
        font-size: 16px;
    }

    header .logo img {
        width: 40px;
    }
}

/* End Header */
/* Start Managers */
.title {
    padding-top: 100px;
    text-align: center;
    margin: 0;
}

.managers {
    padding-top: 100px;
}

.managers .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
}

.managers .container .boxes .box {
    background-color: rgb(0 0 0 / 90%);
    padding: 20px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.managers .container .boxes .box:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
.managers .container .boxes .box::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    top: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    left: 0;
    background-color: #0099f3;
    transition: 0.3s;
}
.managers .container .boxes .box::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    right: 0;
    background-color: #0099f3;
    transition: 0.3s;
}
.managers .container .boxes .left {
    position: absolute;
    height: 0;
    width: 3px;
    bottom: 0;
    left: 0;
    background-color: #0099f3;
    transition: 0.3s;
}
.managers .container .boxes .right {
    position: absolute;
    height: 0;
    width: 3px;
    top: 0;
    right: 0;
    background-color: #0099f3;
    transition: 0.3s;
}
@media (min-width: 1200px) {
    .managers .container .boxes .leader {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .managers .container .boxes .order-1-mobile {
        order: 1;
    }

    .managers .container .boxes .order-2-mobile {
        order: 2;
    }

    .managers .container .boxes .order-3-mobile {
        order: 3;
    }

    .managers .container .boxes .order-4-mobile {
        order: 4;
    }
}


.managers .container .boxes .box:hover::after,
.managers .container .boxes .box:hover::before {
    width: 100%;
}
.managers .container .boxes .box:hover .left,
.managers .container .boxes .box:hover .right {
    height: 100%;
}
.managers .container .boxes .box h2 {
    color: #0067b2;
}

.managers .container .boxes .box .image img,
.managers .container .boxes .box .image video {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.managers .container .boxes .box a {
    color: white;
}

.managers .container .boxes .box i {
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.managers .container .boxes .box i:hover {
    color: #525beb;
}

.managers .container .boxes .box .username {
    color: #777;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.managers .container .boxes .box .username:hover {
    color: white;
}

/* End Managers */
/* Start description */

/* End description */
/* Start Footer */
footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(0 0 0 / 70%);
}

footer a {
    color: white;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

footer a:hover {
    color: #525beb;
}

footer .copyright {
    padding-top: 20px;
    border-top: #eee 1px solid;
}

@media (max-width:586px) {
    footer .copyright-en {
        font-size: 13px;
    }
}

footer .copyright span {
    color: #0067b2;
}

/* End Footer */
/* END Home Page */
/* Start Framework */
.active {
    color: #777;
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.t-center {
    text-align: center;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.order-13 {
    order: 13;
}

.order-14 {
    order: 14;
}

/* End Framework */
